#chat-screen {
  width: 330px;
  height: 520px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}