@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

#heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 5px;
}

#heading {
  font-family: "Jersey 15", sans-serif;
  font-size: 30px;
}
