.ai-message {
    width: 100%;
    display: flex;
    justify-content: left;
}

.ai-message .message-text {
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    border-radius: 1.2em;
    border-top-left-radius: 0.5em;
}

.message-avatar {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 0.5em;
}