#info-chat-bubble {
  text-align: center;
  background-color: rgba(228, 228, 93, 0.7);
  backdrop-filter: blur(10px);
  color: rgb(41, 53, 9);
  padding: 0.5rem;
  border-radius: 1em;
  margin-bottom: 0.5rem;
}
