.user-message {
    width: 100%;
    display: flex;
    justify-content: right;
}

.user-message .message-text {
    background-color: rgba(16, 14, 27, 0.7);
    backdrop-filter: blur(10px);
    color: white;
}