.user-message {
    width: 100%;
    display: flex;
    justify-content: right;
}

.user-message .message-text {
    background-color: #25293B;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 8px;
    border-radius: 1.2em;
}