.prompt-suggestion-block {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    display: block;
    flex-shrink: 0;
    border-radius: 99999em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 12px;
}

.prompt-suggestion-block:hover {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}